@font-face {
    font-family: BergenSans;
    src: url('./font/BergenSans-SemiBold.otf') format("opentype");
    weight: 600;
}

@font-face {
    font-family: BergenSans;
    src: url('./font/BergenSans-Regular.otf') format("opentype");
    font-weight: 400;
}
